# mac os
.DS_Store

# IDE
.idea

# Jupyter
.ipynb_checkpoints/
*checkpoint.ipynb

# Python
*__pycache__*
*egg-info/
dist/
build/

# Sphinx
doc/_build/

# test data
tests/test_data/prep/*/
tests/test_data/results/
tests/test_data/*.tar.gz
tests/setup_scripts/tmp_prep_*_config.ini
