.ipynb_checkpoints/
.idea
*checkpoint.ipynb
README.md
*__pycache__*
.DS_Store
*egg-info/
/configs/old/
*egg-info
dist/
build/
doc/_build/
tests/test_data/results/
tests/test_data/csv/
tests/test_data/*.tar.gz
tests/setup_scripts/tmp_Makefile_config.ini