# mac os
.DS_Store

# IDE
.idea

# Jupyter
.ipynb_checkpoints/
*checkpoint.ipynb

# Python
*__pycache__*
*egg-info/
dist/
build/
.venv

# Sphinx
doc/_build/

# test data
tests/data_for_tests/source/
tests/data_for_tests/generated/
*.tar.gz

# coverage / pytest-cov
.coverage
coverage.xml