# adapted in part from https://github.com/soft-matter/trackpy/blob/master/.travis.yml

language: python

matrix:
  include:
    - python: "3.6"
      env: DEPS="numpy scipy matplotlib tensorflow joblib"

before_install:
  - sudo apt-get update
  # We do this conditionally because it saves us some downloading if the
  # version is the same.
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a

install:
  - conda config --append channels conda-forge
  - conda create -n testenv --yes $DEPS pip pytest setuptools python=$TRAVIS_PYTHON_VERSION
  - source activate testenv
  - pip install .[tests]
  - make all  # make data for testing from scratch

script:
  - python -m unittest