[PREP]
data_dir = "./tests/test_data/cbins/gy6or6/032312"
output_dir = "./tests/test_data/prep/train"
audio_format = "cbin"
annot_format = "notmat"
labelset = "iabcdefghjk"
train_dur = 50
val_dur = 15
test_dur = 30

[SPECT_PARAMS]
fft_size = 512
step_size = 64
freq_cutoffs = [ 500, 10000,]
thresh = 6.25
transform_type = "log_spect"

[DATALOADER]
window_size = 88

[TRAIN]
models = [ "TweetyNet",]
root_results_dir = "./tests/test_data/results/train"
batch_size = 11
num_epochs = 2
normalize_spectrograms = true
val_error_step = 1
checkpoint_step = 1
save_only_single_checkpoint_file = true
csv_path = "tests/test_data/prep/train/032312_prep_200209_123939.csv"

[TweetyNet.optimizer]
lr = 0.001
