[PREP]
data_dir = "/PATH/TO/DATA/032312"
output_dir = "/PATH/TO/DATA/vak/prep/predict"
audio_format = "wav"

[SPECT_PARAMS]
fft_size = 512
step_size = 64

[TweetyNet.optimizer]
lr = 0.001

[PREDICT]
checkpoint_path = "/PATH/TO/DATA/vak/train/RESULTS_TIMESTAMP/TweetyNet/checkpoints/max-val-acc-checkpoint.pt"
labelmap_path = "/PATH/TO/DATA/vak/train/RESULTS_TIMESTAMP/labelmap.json"
models = "TweetyNet"
batch_size = 1
num_workers = 4
device = "cuda"
spect_scaler_path = "/PATH/TO/DATA/vak/train/RESULTS_TIMESTAMP/StandardizeSpect"
output_dir = "/PATH/TO/DATA/vak/prep/predict"
annot_csv_filename = "gy6or6.032312.annot.csv"
majority_vote = true
min_segment_dur = 0.01
